# Standard files
* @sepsepsep @harpreet-gill-shopthing @JoeTot @artur-opn

# GitHub files
/.github @sepsepsep @harpreet-gill-shopthing

# Functional Testing
/functional-testing @harpreet-gill-shopthing