name: FunctionalTestsUpdated

on:
  pull_request: 
    paths:
      - "functional-testing/**"
      - ".github/workflows/ci_functional-tests-update.yml"
    branches: 
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: |
        cd functional-testing
        pwd
        npm install
        npm run lint-test-scripts
    