name: Deploy Reservation Service
on:
  push:
    paths:
      - "packages/common/**"
      - "packages/reservation/**"
      - ".github/workflows/ci_reservation.yml"
      - ".github/actions/**"
    branches: 
      - master
      - develop
      - hl7-egress
    tags:
      - infra-dev-reservation-*
      - infra-dev-all-*
      - preprod-reservation-*
      - preprod-all-*
      - prod-reservation-*

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
        
    - uses: ./.github/actions/deploy-gae
      with:
        service_name: "reservation"
      name: Build & Deploy to GAE
      env:
          dev_service_account: ${{ secrets.DEV_GCP_CLOUDBUILD_SA_KEY}}
          infra_dev_service_account: ${{ secrets.INFRA_DEV_GCP_CLOUDBUILD_SA_KEY}}
          preprod_service_account: ${{ secrets.PREPROD_GCP_CLOUDBUILD_SA_KEY }}
          prod_service_account: ${{ secrets.PROD_GCP_CLOUDBUILD_SA_KEY }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}